# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [190]:
id1 = "314992595"
id2 = "318634961"

In [191]:
#df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [192]:
df = pd.DataFrame([id1,id2])

In [193]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [194]:
import pandas as pd
import numpy as np
import datetime as dt
url= "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
df = pd.read_csv(url)

In [195]:
df.date =pd.to_datetime(df.date)
month = (df.date.dt.month_name()=="May")
my_month = df.date[month].copy()
my_month

68      2021-05-01
69      2021-05-02
70      2021-05-03
71      2021-05-04
72      2021-05-05
           ...
39805   2021-05-27
39806   2021-05-28
39807   2021-05-29
39808   2021-05-30
39809   2021-05-31
Name: date, Length: 6714, dtype: datetime64[ns]

In [196]:
# Q2

In [197]:
vacc = df.loc[:,['daily_vaccinations','people_vaccinated_per_hundred']]
vacc.fillna(0,inplace = True)
vacc
#We chose FILLNA because in the DROPNA function when there is an empty value it lowers the whole line and in this case we just wanted to lower a missing value and add 0 instead. In order for us to perform operations of an average or sum the line we can get a correct answer and not a wrong answer with missing lines due to a missing specific value

       daily_vaccinations  people_vaccinated_per_hundred
0                     0.0                           0.00
1                  1367.0                           0.00
2                  1367.0                           0.00
3                  1367.0                           0.00
4                  1367.0                           0.00
...                   ...                            ...
39877             60047.0                          12.45
39878             61908.0                          12.54
39879             66884.0                          12.76
39880             53633.0                           0.00
39881             59050.0                          13.01

[39882 rows x 2 columns]

# Q3

In [198]:
df.date =pd.to_datetime(df.date)
df['month'] = pd.DatetimeIndex(df.date).month
df_May = df[df.month == 5 ]

In [199]:

data_with_index = df_May.set_index("location")
data_with_index = data_with_index.drop(["World","Africa","Asia","Upper middle income","High income","South America","North America","Europe","Kosovo","Low income","Northern Cyprus","Northern Ireland","Oceania","Upper middle income","Wales"])

In [200]:
max=data_with_index.daily_vaccinations.max()
max_vacc=df.loc[(df["daily_vaccinations"] == max)] 
max_vacc[['location','date',"daily_vaccinations"]]

     location       date  daily_vaccinations
7303    China 2021-05-31          19173571.0

# Q4

In [201]:
df.date =pd.to_datetime(df.date)
df['month'] = pd.DatetimeIndex(df.date).month
df_May = df[df.month == 5 ]

In [202]:
print('mean:' , df_May.daily_vaccinations.mean())
print('median:',df_May.daily_vaccinations.median())
# we can see that: mean > median , This is because the mean calculates all values and performs an average and the median takes only the mean value .

mean: 482184.83288490283
median: 9274.5

# Q5

In [205]:

df.date =pd.to_datetime(df.date)
df['month'] = pd.DatetimeIndex(df.date).month
df_May = df[df.month == 3 ]
df_May

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,41.0,3
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,1794.0,NaN,NaN,NaN,46.0,3
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,52.0,3
10,Afghanistan,AFG,2021-03-04,NaN,NaN,NaN,NaN,2221.0,NaN,NaN,NaN,57.0,3
11,Afghanistan,AFG,2021-03-05,NaN,NaN,NaN,NaN,2435.0,NaN,NaN,NaN,63.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39744,Zimbabwe,ZWE,2021-03-27,73977.0,66012.0,7965.0,5769.0,4460.0,0.50,0.44,0.05,300.0,3
39745,Zimbabwe,ZWE,2021-03-28,79685.0,69057.0,10628.0,5708.0,5201.0,0.54,0.46,0.07,350.0,3
39746,Zimbabwe,ZWE,2021-03-29,82156.0,70297.0,11859.0,2471.0,5434.0,0.55,0.47,0.08,366.0,3
39747,Zimbabwe,ZWE,2021-03-30,86412.0,73490.0,12922.0,4256.0,5810.0,0.58,0.49,0.09,391.0,3
39748,Zimbabwe,ZWE,2021-03-31,92426.0,77541.0,14885.0,6014.0,5712.0,0.62,0.52,0.10,384.0,3

In [208]:
df_israel = df_May.loc[df_May.location == 'Israel']
df_7days = df_israel.iloc[0:7]
df_7days = df_7days.people_vaccinated_per_hundred.mean()
df_7days
#There are no average values for the first seven days of my month

56.21999999999999

# Q7

In [ ]:
df.date =pd.to_datetime(df.date)
df['month'] = pd.DatetimeIndex(df.date).month
df_May = df[df.month == 5 ]

In [215]:
df_big =df_May.groupby('location')[['people_vaccinated_per_hundred', 'date']].max()
df_sort_values = df_big.sort_values(by='people_vaccinated_per_hundred' ,axis=0, ascending=False)
df_sort_values
df_sort_values.head(3)

              people_vaccinated_per_hundred       date
location
Gibraltar                             94.21 2021-03-31
Saint Helena                          71.55 2021-03-31
Seychelles                            64.76 2021-03-31

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line